<!-- HEADER -->
<header>
    <!-- TOP HEADER -->
    <div id="top-header">
      <div class="container">
        <div class="row header">
          <!-- LOGO -->
          <div class="col-md-4">
            <div class="header-logo">
              <a routerLink="/" class="logo">
                <img src="../../../assets/img/logo.png" alt="MTAILOR">
              </a>
            </div>
          </div>
          <!-- /LOGO -->
  
          <!-- Top Right Links -->
          <div class="col-md-8">
            <ul class="header-links pull-right">
              <li><a href="#"><i class="fa fa-info-circle icon-large"></i> Help</a></li>
              <li><a href="#"><i class="fa fa-user-o icon-large"></i></a></li>
              <li><a href="#"><i class="fa fa-shopping-cart icon-large"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- /TOP HEADER -->
  
    <!-- MAIN NAVIGATION -->
    <nav id="navigation" class="custom-nav-height">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul class="main-nav nav">
              <li><a href="#">Men</a></li>
              <li><a href="#">Women</a></li>
              <li><a href="#">How it Works</a></li>
              <li><a href="#">Gift Cards</a></li>
              <li><a href="#">About Us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <!-- /MAIN NAVIGATION -->
  </header>
  <!-- /HEADER -->
  