<!-- SECTION -->

  
<div class="main-cover-item">
    <div class="main-cover-img">
        <img src="./../../../assets/img/images1.webp" alt="TailorTech Collection">
    </div>
    <div class="main-cover-body">
        <h3>Welcome to TailorTech</h3>
        <p>Discover our latest and most popular clothing collections.</p>

        <a href="#" class="cta-btn">View Models <i class="fa fa-arrow-circle-right"></i></a>
    </div>
</div>
          



<div class="services-section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- service-item 1 -->
            <div class="col-md-3">
                <div class="service-item">
                    <div class="service-icon">
                        <img src="./../../../assets/img/catalogue-icon.png" alt="Catalogue">
                    </div>
                    <h4>Consult our catalog</h4>
                    <p>Start your orderBrowse our online catalog and choose the model you like with the fabric of your choice.</p>
                </div>
            </div>

            <!-- service-item 2 -->
            <div class="col-md-3">
                <div class="service-item">
                    <div class="service-icon">
                        <img src="./../../../assets/img/order-icon.png" alt="Commande">
                    </div>
                    <h4>Start your order</h4>
                    <p>Once you have made your choice, place the order directly from our platform.</p>
                </div>
            </div>

            <!-- service-item 3 -->
            <div class="col-md-3">
                <div class="service-item">
                    <div class="service-icon">
                        <img src="./../../../assets/img/agent-icon.png" alt="Agent">
                    </div>
                    <h4>Taking measurements</h4>
                    <p>An agent will come to your home to take the necessary measures to guarantee a perfect cut.</p>
                </div>
            </div>

            <!-- service-item 4 -->
            <div class="col-md-3">
                <div class="service-item">
                    <div class="service-icon">
                        <img src="./../../../assets/img/delivery-icon.png" alt="Livraison">
                    </div>
                    <h4>Delivery</h4>
                    <p>Your garment will be delivered to your home once completed and checked for quality.</p>
                </div>
            </div>

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>

<div class="top-sellers-section">
    <h1>TOP MODELS</h1>
    <div class="cards-container">
        <div class="product-card">
            <a href="product-details.html">  <!-- Ajout du lien ici -->
                <img src="./../../../assets/img/images.jpeg" alt="rigold Palm Trees">
                <p>rigold Palm Trees</p>
                <span>$89</span>
            </a>
        </div>

        <div class="product-card">
            <a href="product-details.html">  <!-- Ajout du lien ici -->
                <img src="./../../../assets/img/images.jpeg" alt="rigold Palm Trees">
                <p>rigold Palm Trees</p>
                <span>$89</span>
            </a>
        </div>

        <div class="product-card">
            <a href="product-details.html">  <!-- Ajout du lien ici -->
                <img src="./../../../assets/img/images.jpeg" alt="rigold Palm Trees">
                <p>rigold Palm Trees</p>
                <span>$89</span>
            </a>
        </div>

        <div class="product-card">
            <a href="product-details.html">  <!-- Ajout du lien ici -->
                <img src="./../../../assets/img/images.jpeg" alt="rigold Palm Trees">
                <p>rigold Palm Trees</p>
                <span>$89</span>
            </a>
        </div>

        <div class="product-card">
            <a href="product-details.html">  <!-- Ajout du lien ici -->
                <img src="./../../../assets/img/images.jpeg" alt="rigold Palm Trees">
                <p>rigold Palm Trees</p>
                <span>$89</span>
            </a>
        </div>
    </div>
</div>
 

<div class="top-sellers-section">
    <h1>TOP FABRICS</h1>
    <div class="cards-container">
        <div class="product-card">
            <a href="product-details.html">  <!-- Ajout du lien ici -->
                <img src="./../../../assets/img/images.jpeg" alt="rigold Palm Trees">
                <p>rigold Palm Trees</p>
                <span>$89</span>
            </a>
        </div>

        <div class="product-card">
            <a href="product-details.html">  <!-- Ajout du lien ici -->
                <img src="./../../../assets/img/images.jpeg" alt="rigold Palm Trees">
                <p>rigold Palm Trees</p>
                <span>$89</span>
            </a>
        </div>

        <div class="product-card">
            <a href="product-details.html">  <!-- Ajout du lien ici -->
                <img src="./../../../assets/img/images.jpeg" alt="rigold Palm Trees">
                <p>rigold Palm Trees</p>
                <span>$89</span>
            </a>
        </div>

        <div class="product-card">
            <a href="product-details.html">  <!-- Ajout du lien ici -->
                <img src="./../../../assets/img/images.jpeg" alt="rigold Palm Trees">
                <p>rigold Palm Trees</p>
                <span>$89</span>
            </a>
        </div>

        <div class="product-card">
            <a href="product-details.html">  <!-- Ajout du lien ici -->
                <img src="./../../../assets/img/images.jpeg" alt="rigold Palm Trees">
                <p>rigold Palm Trees</p>
                <span>$89</span>
            </a>
        </div>
    </div>
</div>

<section class="testimonial-section">
    <div class="container">
        <h2>WHAT PEOPLE ARE SAYING</h2>

        <div class="testimonials">
            <div class="testimonial-card">
                
                <p>“Best fit ever! It has been a struggle for 40 years to find pants that fit. This is more accurate than the custom sites I have measured myself for. I will order many more clothes from here in the future!"</p>
                <h4>-Seth T.</h4>
            </div>
            
            <div class="testimonial-card">
                
                <p>“I've never had jeans fit this well and look so good on me. I understand that if I was unhappy with the fit of the remade pair, I could return it for a full refund. But no need to do that- I'm keeping these, and will definitely order more in the future."</p>
                <h4>-Susan A.</h4>
            </div>

            <div class="testimonial-card">
                
                <p>“I've never had jeans fit this well and look so good on me. I understand that if I was unhappy with the fit of the remade pair, I could return it for a full refund. But no need to do that- I'm keeping these, and will definitely order more in the future."</p>
                <h4>-Susan A.</h4>
            </div>
        </div>

        <!-- <button>Give it a try</button> -->
    </div>
</section>

<section class="faq-container">
    <h2>WHAT PEOPLE ARE SAYING</h2>
    <div *ngFor="let item of faqItems" class="faq-item">
        <h3 (click)="toggleAnswer(item.id)">
          {{ item.question }}
          <span *ngIf="openedItemId !== item.id">+</span>
          <span *ngIf="openedItemId === item.id">x</span>
        </h3>
        <div class="answer" *ngIf="openedItemId === item.id">
          {{ item.answer }}
        </div>
    </div>
      
</section>

 
